.section{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: blue;
   /* z-index: -1; */
}
.section::after {
    content: "";
    width: 250px;
    height: 500px;
    position: absolute;
    background-color: burlywood;
    

}
.section:hover {
   background-color: chartreuse; 
}
