.button1{
width: 100px;
height: 50px;
border: 3px solid black;
padding: 5px;
text-align: center;
position: relative;
overflow: hidden;
}
.button1::after{
    content: "Cool";
    width: 95px;
    height: 47px;
    background-color: blueviolet;
    position: absolute;
    left: 0%;
    bottom:0%;
    transition: transform 3s;  

}
.button1:hover::after{
    transform: translateY(-300px);
}
.button2{
    width: 100px;
    height: 50px;
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    }
    .button2::after{
        content: "TranslateX";
        width: 95px;
        height: 47px;
        background-color: rgb(43, 226, 46);
        position: absolute;
        left: 0%;
        bottom:0%;
        transition: transform 3s;  
    
    }
    .button2:hover::after{
        transform: translateX(-300px);
    }
    .button3{
        width: 100px;
        height: 50px;
        border: 3px solid black;
        padding: 5px;
        text-align: center;
        position: relative;
        overflow: hidden;
        }
        .button3::after{
            content: "";
            width: 95px;
            height: 47px;
            background-color: rgb(43, 226, 46);
            position: absolute;
            left: 0%;
            bottom:0%;
            transform-origin:top left;
            transition: transform 3s;  
        
        }
        .button3:hover::after{
            transform: rotate(65deg);
        }
        .button4{
            width: 100px;
            height: 50px;
            border: 3px solid black;
            padding: 5px;
            text-align: center;
            position: relative;
            overflow: hidden;
            }
            .button4::after{
                content: "Scale";
                justify-content: center;
                align-content: center;
                width: 95px;
                height: 47px;
                background-color: rgb(226, 43, 159);
                position: absolute;
                left: 0%;
                bottom:0%;
                transition: transform 3s;  
            
            }
            .button4:hover::after{
                transform: scale(100,100);
            }

            .button5{
                width: 100px;
                height: 50px;
                border: 3px solid black;
                padding: 5px;
                text-align: center;
                position: relative;
                transition: transform 3s; 
                
                }
                .button5::after{
                    content: "skew";
                    justify-content: center;
                    align-content: center;
                    width: 100%;
                    height: 100%;
                    /* border: 3px solid black; */
                    background-color: rgb(226, 43, 159);
                    position: absolute;
                    left: 0%;
                    top:0%;
                    transition: transform 3s;  
                
                }
                .button5:hover::after{
                    transform:skew(-30deg)
                
                }
                .button5:hover {
                    transform:skew(30deg)
                }