
@media screen and (max-width: 400px) {
    .section{
        height: 700px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr ;
        gap: 10px;
        /* background-color:red */
    }
.cell1 { 
    border-radius: 45px;
    background-color: red;
    grid-row: 1 / span 1; 
}
.cell2{
    border-radius: 45px;
    background-color: blue;
    grid-row: 2/ span 1; 
}
.cell3 {
    border-radius: 45px;
    background-color: rgb(68, 255, 0);
    grid-row: 3 / span 1; 

}
.cell4 {
    border-radius: 45px;
    background-color: rgb(223, 23, 209);
    grid-row: 4 / span 1; 

}
.cell5 {
    border-radius: 45px;
    background-color: rgb(161, 200, 22);
    grid-row: 5/ span 1; 
} 
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .section{
        height: 700px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:  repeat(5,1fr);;
        gap: 10px;
        /* background-color:red */
    }
.cell1 { 
    border-radius: 45px;
    background-color: red;
    grid-row: 1 / span 1; 
    grid-column: 1/ span 4; 
}
.cell2{
    border-radius: 45px;
    background-color: blue;
    grid-row: 2/ span 2 ; 
    grid-column: 1/ span 1; 
}
.cell3 {
    border-radius: 45px;
    background-color: rgb(68, 255, 0);
    grid-row: 2/ span 2 ; 
    grid-column: 2/ span 3; 
}
.cell4 {
    border-radius: 45px;
    background-color: rgb(223, 23, 209);
    grid-row: 4 / span 1; 
    grid-column: 1/ span 4; 

}
.cell5 {
    border-radius: 45px;
    background-color: rgb(161, 200, 22);
    grid-row: 5/ span 1; 
    grid-column: 1/ span 4; 
} 
}
